---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { cn, formatDate } from "../../lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const portfolios = await getCollection("portfolio");
  return portfolios.map((portfolio) => ({
    params: { slug: portfolio.slug },
    props: portfolio,
  }));
}

const portfolio = Astro.props;

const { Content } = await portfolio.render();
---

<Layout title={`${portfolio.data.title} | Worcom`}>
  <div class="relative container max-w-screen-md">
    <button
      onclick="history.back()"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "static left-[-200px] top-0 xl:absolute max-xl:mt-5 text-muted-foreground"
      )}
      transition:animate="slide"
    >
      <Icon name="lucide:chevron-left" class="mr-2 size-4" />
      {" "}Powrót
    </button>

    <article class="max-w-none">
      <Image
        class="rounded-xl overflow-hidden my-6"
        width={720}
        height={360}
        src={portfolio.data.thumbnail}
        alt={portfolio.data.title}
        transition:name={`img-${portfolio.slug}`}
      />
      <div class="flex items-center justify-between">
        <span
          class="font-medium text-muted-foreground"
          transition:name={`date-${portfolio.slug}`}
        >
          {formatDate(portfolio.data.date)}
        </span>
      </div>
      <h1 class="text-4xl my-4 font-semibold">
        {portfolio.data.title}
      </h1>
      <hr class="my-6" />
      <div class="prose prose-img:rounded-xl">
        <Content />
      </div>
    </article>
  </div>
</Layout>
